$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  center: center,
  stretch: stretch,
);

@function _get-flex-value($key) {
  //@function은 특정 값을 반환
  @return map-get(
    $flex-map,
    $key
  ); //map, map-get sass 내장함수 (가져올 곳, 가져올 value)
}

@mixin flexbox($jc: center, $ai: center) {
  //jc: justify-content, ai: align-items
  display: flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}
