.user-gallery {
  margin: 0 -#{$grid-margin};
  overflow: hidden;

  &-slider {
    margin-bottom: 4px;
  }

  .thumbnail-list {
    @include no-scrollbar;
    @include flexbox(start);
    margin-left: 2px;
    overflow-x: auto;
  }

  .thumbnail-item {
    &.tns-nav-active {
      button {
        border: 3px solid $blue;
      }
    }

    &:not(:last-child) {
      margin-right: 4px;
    }

    button {
      @include flexbox;
      width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 4px;

      img {
        display: block;
        width: 64px;
        min-width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }
  }

  @include responsive(T) {
    margin: 0;

    &-slider {
      position: relative;
    }

    &-controls {
      @include pos-center-y;
      @include flexbox(between);
      width: 100%;
      padding: 0 55px;

      .control-button {
        @include flexbox;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 28px;
        color: $primary;
        background-color: $white;
        transition: background-color 100ms ease-in-out color 100ms ease-in-out;

        &.is-prev {
          i {
            margin-left: -4px;
            transform: rotate(90deg);
          }
        }

        &.is-next {
          i {
            margin-right: -4px;
            transform: rotate(-90deg);
          }
        }

        &:hover {
          background-color: $blue;
          color: $white;
        }

        &[disabled] {
          visibility: hidden;
        }
      }
    }

    &-slider {
      margin-bottom: 6px;
    }

    .thumbnail-list {
      padding-left: 0;
    }

    .thumbnail-item {
      button {
        width: 75px;
        height: 75px;

        img {
          width: 75px;
          min-width: 75px;
          height: 75px;
        }
      }
    }
  }
}
