// scss-lint:disabled all
@font-face {
  font-family: 'tomorrow';
  src: url('../../assets/fonts/tomorrow.eot');
  src: url('../../assets/fonts/tomorrow.eot') format('embedded-opentype');
  src: url('../../assets/fonts/tomorrow.ttf') format('truetype');
  src: url('../../assets/fonts/tomorrow.woff') format('woff');
  src: url('../../assets/fonts/tomorrow.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
