%form-base {
  @include text-style(16, $primary);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  appearance: none; //모든 스타일 없애줌
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    // form안에 placeholder 적용. but, 속성 제한되어있음
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.form-input {
  @extend %form-base;
}

//NOTE: Select
.select-group {
  position: relative;

  &.is-active {
    .form-select {
      border-color: $blue;
    }

    .ic-caret {
      color: $blue;
    }
  }

  .form-select {
    padding-right: 40px; //텍스트가 길 경우: 잘 놓치는 부분
    text-overflow: ellipsis;
  }

  .ic-caret {
    @include pos-center-y; //y축으로 center일 경우 적용
    right: 8px;
    font-size: 24px;
    color: $tertiary;
    pointer-events: none; // absolute로 relative를 덮어버려서 아이콘을 누른 것으로 인식, select가 나오지 않음. 이를 막기 위함 (클릭 이벤트와 관계 없음)
  }
}

//NOTE: Input
.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }

  .ic-search {
    @include pos-center-y;
    left: 10px;
    font-size: 20px;
    color: $secondary;
  }
}
